body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: azure;
}

h1 {
  color: #007acc;
}
p {
  font-size: 18px;
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
